/* 图片 */
#home-posts .post .post-img{
    position: absolute;
    top: 0;
    left: -320px;
    height: 100%;
    width: 320px;
    overflow: hidden;
}
#home-posts .post .post-img img{
    height: 100%;
    width: 100%;
    /* 图片大小自适应 */
    object-fit: cover;
    border-radius:20px ;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* 当屏幕宽度小于900px时不显示图像 */
@media (max-width: 900px) {
    #home-posts .post .post-img{
       display: none;
    }
    #content-left-nav{
        display: none;
    }

}
/* 当屏幕宽度大于900px时 */
@media(min-width:900px){
    /* 偶数的图片与文章信新通奇数的左右位置相反 */
    #home-posts .post:nth-of-type(even) .post-img{
        left: 480px;
    }
    #home-posts .post:nth-of-type(even) .post-img img{
        border-radius:20px ;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
/* 主页的右侧卡片下的标签 */
.card-tags span{
    display: inline-block;
    margin: 5px 10px;;
}
.card-tags span a{
    color: #38f;
    padding: 5px;
}
.card-tags span a:hover{
    color: rgba(51, 136, 255, 0.648);
}
.card-tags {
    padding: 20px 0;
    background: #fff;
    border-radius: 10px;
    text-align: left;
    border: none;
    box-shadow: 0 0 20px #d9d9d980;
}

/* 文章左侧的导航栏 */
#content-left-nav{
    width: 300px;
    position:absolute;
    top:0px;
    left:-250px;
    padding: 10px;
}
#content-left-nav a{
    display: inline-block;
    width: 100%;
    /* border: 1px solid red;  */
    color: #1e3e3f;
    padding: 2px;
    margin: 2px;
}
/* 回到页面顶部的按钮 */
#go-to-top{
    position: fixed;
    bottom:200px;
    right: 40px;
}
#go-to-top a{
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: #111;
}